body {
  margin-top: 150px;
  background-color: #2486e2;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color:#92a1d1;
}


#header {
  padding: 10px;
  color: white;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  background-color: #2486e2;
}

#header .modal-container{
  display:flex;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  position:fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.Evento-modal-container{
  display:flex;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  position:fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

#header .modal-container.mostrar{
  pointer-events: auto;
  opacity: 1;
}

.Evento-modal-container.mostrar{
  pointer-events: auto;
  opacity: 1;
}

#header .modal{
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.8);
  color: black;
  text-transform: none;
  text-align:center;
  width: 500px;
  max-width: 100%;
}

.modal h2, .Eventomodal h2{
  font-size: 44px;
}

.modal p, .Eventomodal p{
  font-size: 24px;
}

.Eventomodal{
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.8);
  color: black;
  text-transform: none;
  text-align:center;
  width: 500px;
  max-width: 100%;
}

#contenedor {
  width: 770px;
  background-color: #2486e2;
  margin-right: auto;
  margin-left: auto;
}
#semana {
  width: 100%;
  display: flex;
  color: white;
  text-align:center;
}
#semana div {
  width: 100px;
  padding: 10px;
}
#calendario {
  width: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #DiaActual {
  background-color:#f75656;
}
.evento_deportivo {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  text-align:center;
}

.evento_familiar {
  font-size: 10px;
  padding: 3px;
  background-color: #db1818;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  text-align:center;
}

.evento_social {
  font-size: 10px;
  padding: 3px;
  background-color: #0cc225;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  text-align:center;
}

.evento_cultural {
  font-size: 10px;
  padding: 3px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  text-align:center;
}

.DiasMesPrev {
  cursor: default !important;
  background-color: white !important;
  box-shadow: none !important;
  opacity:0.8;
}
#NuevoEvento , #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#TituloEvento {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#TituloEvento.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}